.input-container{
    width: 100%;
}

.regular-style{
    width: 100%;
    height: 35px;
    border-radius: 25px;
    border: none;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: cadetblue;
    font-size: 14px;
    outline: none;
}

.regular-style::-moz-placeholder{
    font-size: 14px;
    color: gray;
    opacity: 0.8;
}

.input-error{
   border:1px solid  rgb(241, 107, 107);
   color : rgb(241, 107, 107);
   background: rosybrown;
   width: 100%;
   height: 35px;
   border-radius: 25px;  
   padding: 0 10px 0 20px;
   box-sizing: border-box;
   margin-bottom: 10px;   
   font-size: 14px;
   outline: none;
}

.input-error::placeholder{
    color: rgb(247, 137, 137);
}